
<div class="container" style="margin-top:20px">
    <table>
        <tr>
            <th colspan="2">Site Interest</th>
            <th colspan="2">SMO Agreement</th>
            <th colspan="2">Sponsor CDA</th>
        </tr>
        <tr>
            <td>Complete</td>
            <td>Pending</td>
            <td>Complete</td>
            <td>Pending</td>
            <td>Complete</td>
            <td>Pending</td>
        </tr>
        <tbody>
            <tr>
                <td>{{siteInterest.complete}}</td>
                <td>{{siteInterest.pending}}</td>
                <td>{{smoAgreement.complete}}</td>
                <td>{{smoAgreement.pending}}</td>
                <td>{{sponsorCDA.complete}}</td>
                <td>{{sponsorCDA.pending}}</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Study summary table -->
<div class="container" style="margin-top:40px">
    <table>
        <tr>
            <th>Study_id</th>
            <th>Study Name</th>
            <th>Site Interest</th>
            <th>SMO Agreement</th>
            <th>Sponsor CDA</th>

        </tr>
        <tbody>
            <tr *ngFor="let count of studyCount">
                <td>{{count.study_id}}</td>
                <td>{{count.study_name}}</td>
                <td>{{count.siteInterest}}</td>
                <td>{{count.smoAgreement}}</td>
                <td>{{count.sponsorCDA}}</td>
            </tr>
        </tbody>
    </table>
</div>